<div id="wctable"{% if refresh %} hx-get="{{ refresh.url }}" hx-trigger="every {{ refresh.secs }}s" hx-swap="outerHTML"{% endif %}>
  <table class="table table-striped">
    <thead>
      <tr class="table-default">
{% for h in header %}
        <th>{{ h }}</th>
{% endfor %}
      </tr>
    </thead>
    <tbody>
{% for r in rows %}
{% if r.row_class %}
      <tr class="{{ r.row_class }}">
{% else %}
      <tr class="table-default">
{% endif %}
{% for c in r.cols %}
{% if c.element == "button" %}
        <td><button type="button" id="{{ c.id }}" class="btn btn-primary" hx-get="{{ c.url }}" hx-target="#wctable" hx-swap="outerHTML">{{ c.label }}</button></td>
{% elif c.element == "delbutton" %}
        <td><button type="button" id="{{ c.id }}" class="btn btn-outline-danger" hx-get="{{ c.url }}" hx-target="#wctable" hx-swap="outerHTML">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
              <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
              <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
            </svg>
        </button></td>
{% else %}
        <td>
{% if c.preformat %}
          <pre>{{ c.content }}</pre>
{% else %}
          {{ c.content }}
{% endif %}
        </td>
{% endif %}
{% endfor %}
      </tr>
{% endfor %}
    </tbody>
  </table>
{% if extra and extra.element == "button" %}
  <button type="button" id="{{ extra.id }}" class="btn btn-primary" hx-get="{{ extra.url }}" hx-target="#wctable" hx-swap="outerHTML">{{ extra.label }}</button>
{% endif %}
</div>